




body {
	margin: 0;
	font-size: 28px;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .header1 {
	background-color: white;
	text-align: center;
	padding: 5px;
	width: auto;
	height: auto;
  }
  
  #navbar {
	overflow: hidden;
	background-color: rgb(78, 75, 75);
  }
  
  #navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  #navbar a:hover {
	background-color: rgb(153, 148, 148);
	color: rgb(243, 235, 235);
  }
  
  #navbar a.active {
	background-color: rgb(184, 178, 178);
	color: white;
  }
  
  .content {
	padding: 16px;
  }
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  



	.imgcontainer {
		position: relative;
		text-align: center;
		color: white;
	  }
      
      








      * {
        box-sizing: border-box;
      }

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 200px; 
}


.row:after {
  content: "";
  display: table;
  clear: both;
}



.footer
  {
left: 0;
position: relative;
bottom: 0;
width: 100%;
height: 15px;
background-color: rgb(98, 212, 250);
color: black;
text-align: left;

  }












      